[submodule "dependencies/sfml"]
	path = dependencies/sfml
	url = https://github.com/SFML/SFML.git
[submodule "dependencies/lodepng"]
	path = dependencies/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "dependencies/CImg"]
	path = dependencies/CImg
	url = https://github.com/GreycLab/CImg.git
[submodule "dependencies/box2d"]
	path = dependencies/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "dependencies/tiny-sound-font"]
	path = dependencies/tiny-sound-font
	url = https://github.com/schellingb/TinySoundFont.git
